<%= form_for Tweet.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :message %>
  <%= f.text_area :message %>
  <%= f.submit %>
<% end %>
<h1>ツイート一覧</h1>
<p>
	<% @tweets.each do |tweet| %>
	<h1><%= tweet.title %></h1>
	<%= tweet.message %>
	<% end %>
</p>
